body {
  font-family: Arial;
  background-image: url(asset/goi-y-cau-hinh-may-tinh-van-phong-cho-nganh-y-te.jpg);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 40px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  padding: 8px;
  font-size: 16px;
}

button[type="submit"] {
  grid-column: span 3;
  background-color: #28a745;
  color: white;
  border: none;
}

.back-btn {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th {
  background-color: #007bff;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
}

button.edit-btn {
  background-color: #ffc107;
}

button.delete-btn {
  background-color: #dc3545;
  color: white;
}
