body {
  font-family: Arial, sans-serif;
  background-image: url(asset/pngtree-hospital-room-is-full-of-empty-medical-beds-picture-image_2661846.jpg);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

form input {
  flex: 1 1 30%;
  padding: 10px;
  font-size: 14px;
}

form button {
  padding: 10px 15px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

#search {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

table th {
  background-color: #007bff;
  color: white;
}

button.edit-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.back-btn {
  margin-bottom: 15px;
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}
